@import 'paginas/index';
@import 'paginas/comunicacion';
@import 'paginas/tienda';
@import 'paginas/ubicacion';
@import 'paginas/nosotros';
@import 'paginas/variables';
@import 'paginas/extend';
@import 'paginas/querys';

body{
    margin:0; padding:0;
}
li{
    color: #353423;
    margin-left: 10px;
    list-style-type:none ;
}
a{
    text-decoration: none;
    font-family:$tipografia;
}
.subtitulos{
    color:map-get($coloresmap,texto1) ;
    font-family:$tipografia;
}
.parrafo {

    color: #2e3f38;
    font-family: "Open Sans", sans-serif;
    margin: 20px 0;
}
.header__divH{
    background-image: linear-gradient(#FFDC34,#ffffff);
    .imagen{
        order: 1;
        width: 80px;
        height: 70px;
        margin: 10px 10px;
    }
}
.mainIndex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1200px;
    margin: 0% 10% 0% 10%;
    .mainIndex_secTabla{
        .mainIndex_secTabla__Tabla{
            width: 300px;
        }
        
    }
    .mainIndex_section{
        .mainIndex_section__Video{
            width: 300px;
        }
        
    }
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid white;
    background-image: linear-gradient(to top,#FFDC34,#ffffff);
    h3{
        margin: 10px ;
    }
    .foter_Copi{
        justify-content: center;
        margin-top: 15px;
        width: 300px;
    }
    .footer_Link{
        font-family: $tipografia;
    }
}

