
.comunicacion__formulario{
    margin-left: 10px;
    width:400px;
    border: 1px solid black;
    border-radius:20px;;
}
.divForm__etiqueta{
    font-family: 'Merriweather', sans-serif;
}
.divForm{
    margin:10px;
}