.mainTienda{
    height: 600px;
}
.mainTienda__grill{
    display: grid;
    grid-template-areas: 
    "objeto1 objeto2 objeto3 publicidad"
    "texto1 texto2 texto3 publicidad"
    "objeto4 objeto5 objeto6 publicidad";
    grid-template-rows:400px 100px 50px;
    grid-template-columns: 25% 25% 25% 25%; 
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
    align-items:flex-start;
    margin: 5% 8% 0% 8%;
    .col1e{
        border: gray 2px solid;
        .o1{
        grid-area: objeto1;
            .img1{
                width: 300px;
                height: 300px;
            }
        }
        .o4{
            grid-area: objeto4;
            transition: transform 1s;
        }
        .o4:hover{
            transform:translate(-5px,-5px);
        }
    }
    .col2e{
        border: gray 2px solid;
        .o2{
            grid-area: objeto2;
            .img2{
            width: 300px;
            height: 300px;
            }
        }
        .o5{
            grid-area: objeto5;
            transition: transform 1s;
        }
        .o5:hover{
            transform:translate(-5px,-5px);
        }
    }
    .col3e{
        border: gray 2px solid;
        .o3{
            grid-area: objeto3;
            .img3{
            width: 300px;
            height: 300px;
            }
        }
        .o6{
            grid-area: objeto6;
            transition: transform 1s;
        }
        .o6:hover{
            transform:translate(-5px,-5px);
        }
    }
    .publicidad{
        grid-area:publicidad;
    }
}

