@media only screen and (max-width: 1024px){
    .mainTienda{
        height: 1500px;
        margin: 0% 0% 0% 15%;
    }
    .mainTienda__grill{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px){
    .parrafo{
        font-size: 110%;
    }
    .main_Nosotros{
        margin: 0% 10% 0% 10%;
    }
    .imagenZona{
        width: 315px;
        height: 260px;
    }
    .map{
        width: 315px;
        height: 260px;
    }
    .main_comunicacion{
        margin: 0% 10% 0% 10%;
        .comunicacion__formulario{
            width: 315px;
        }
    }
    .textocom{
        width: 300px;
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        ul{
            padding: 0%;
        }
        li{
            margin: 0%;
        }
        .footer_Link{
            margin: 0%;
        }
        h6{
            margin: 15px 0px 0px 0px;
        }
    }
    .mainTienda{
        height: 1500px;
        margin: 0% 0% 0% 15%;
    }
    .mainTienda__grill{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 425px){
    .parrafo{
        font-size: 100%;
    }
    .main_Nosotros{
        margin: 0% 10% 0% 10%;
    }
    .imagenZona{
        width: 315px;
        height: 260px;
    }
    .map{
        width: 315px;
        height: 260px;
    }
    .main_comunicacion{
        margin: 0% 10% 0% 10%;
        .comunicacion__formulario{
            width: 315px;
        }
    }
    .textocom{
        width: 300px;
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        ul{
            padding: 0%;
        }
        li{
            margin: 0%;
        }
        .footer_Link{
            margin: 0%;
        }
        h6{
            margin: 15px 0px 0px 0px;
        }
    }
    .mainTienda{
        height: 1500px;
        margin: 0% 0% 0% 0%;
    }
    .mainTienda__grill{
        display: flex;
        flex-direction: column;
        
    }
}
@media only screen and (max-width: 320px){
    .parrafo{
        font-size: 90%;
    }
    .main_Nosotros{
        margin: 0% 10% 0% 10%;
    }
    .imagenZona{
        width: 315px;
        height: 260px;
    }
    .map{
        width: 315px;
        height: 260px;
    }
    .main_comunicacion{
        margin: 0% 10% 0% 10%;
        .comunicacion__formulario{
            width: 315px;
        }
    }
    .textocom{
        width: 300px;
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        ul{
            padding: 0%;
        }
        li{
            margin: 0%;
        }
        .footer_Link{
            margin: 0%;
        }
        h6{
            margin: 15px 0px 0px 0px;
        }
    }
    .mainTienda{
        height: 1500px;
        margin: 0% 100% 0% 0%;
    }
    .mainTienda__grill{
        display: flex;
        flex-direction: column;
        
    }
}

